body{background-image:url(../images/purpleblure.jpg);}
h1{color:white;}
img{background-color:transparent;}
.navbar{background-color: #9966cc;}
#notification{background-color:transparent;color:white;margin-left:15%;}